#map_canvas

#control_container
  #map_search
    form
      input type='text'
      a#map_search_submit href='#': span.glyphicon.glyphicon-search

  .attribution
    p Powered by not knowing where to eat

  #results
